body {
    background-color: midnightblue;
    font-family: 'Pacifico', cursive; /* added a font */
    color: powderblue;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    color: powderblue;
    padding: 20px 0;
    font-size: 2.5em;
}

.projects {
    display: flex; 
    flex-wrap: wrap;  
    justify-content: center; /* centered items */
    padding: 20px;
}

.project {
    width: 70%;
    margin: 50px;
    padding: 100px 50px;
    background: #722020;
    border-radius: 50%;
    transition: transform 0.3s;
}
.project:hover {
    transform: scale(1.05);
}

.project img {
    width: 100%;
    max-width: 300px;
    margin: 10px auto;
    border: 2px solid rgb(114, 2, 2);
    display: block;
    border-radius: 10px;
}

/* Links styling */
a {  
    text-decoration: none;
    color: bisque;
    text-align: center;
    transition: color 0.3s;
}
a:hover {
    color: powderblue;
}

/* Text inside project div */
.project p {  
    text-align: center;
    margin: 15px;
    color: whitesmoke;
}

/* About section */
.about {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
    gap: 20px;
    text-align: center;
}

.about img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 2px solid rgb(114, 2, 2);
}

.about p {
    width: 50%;
    margin: auto;
    line-height: 1.5em;
    color: lightgray;
}

.contact a {
    color: powderblue;
    text-decoration: none;
    font-weight: bold;
}
.contact a:hover {
    color: powderblue;
}
